
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">MyHotel</a>
    <a routerLink="" routerLinkActive="active">Home</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/about" routerLinkActive="active">Contact</a>
    <a routerLink="/about" routerLinkActive="active">Register</a>
    <a routerLink="/auth/login" routerLinkActive="active" class="btn btn-light text-dark">Login</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>